@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="bform py-5">
        <!-- Row -->
        <div class="row">
            <div class="container">
                <div class="col-lg align-justify-center pr-4 pl-0 contact-form">
                    <div class="">
                        <h2 class="mb-3 font-weight-light">Get Register For Free</h2>
                        <h6 class="subtitle font-weight-normal">Lorem ipsum dolor sit amet, adipiscing.</h6>
                        <form class="mt-3" method="post" id="registrationForm" action="/InitRegistration">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="username" placeholder="full name" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="useremail" placeholder="email address" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="userpassword" id="pass" placeholder="password" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="cpass" type="password"  placeholder="confirm password" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit"
                                            id="submit"
                                            class="btn btn-md btn-block btn-danger-gradiant text-white border-0">
                                        <span>
                                            Create Account
                                        </span>
                                    </button>
                                    <!-- -->
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>


<script src="~/js/"></script>
