@model DataLayer.ViewModel.UserAccountViewModel.UserViewModel



@{ 
    var count = 1;
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users) { 
        <tr>
            <th scope="row">@count++</th>
            <td>@user.UserName </td>
            <td>@user.Email</td>
            <td>@user.Role</td>
        </tr>
        }

        
    </tbody>
</table>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
